#loading {
    margin: 0 20vw;
    position: fixed;
    width: 60%;
    height: 5%;
    text-align: center;
}

#loading-container {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
}

#loading-progress {
    width: 0%;
    background-color: green;
    position: absolute;
    height: 30px;
    top: 0px;
    left: 0px;
    opacity: 0.4;
}

canvas {
    margin: 70px auto;
    border: black solid 10px;
}